# Python bytecode
__pycache__/
*.pyc

# Virtual environments
.venv/
myenv/

# Debian package files
*.deb

# SLURM scripts
gpu_slurm.sh
cpu_slurm.sh

# txt files
adversarial_err.txt
adversarial_out.txt

# weights and biases outputs
wandb/

